


	<h2> update "<%= @phy.name %>"  Details </h2>

	<%= form_for @phy , url:{action: :update} do |f| %>
		<table class="table table-hover">
			<%= render partial:'form',locals:{f:f} %>

		</table>
		
	<% end %>

 

