


	<h2> update  "<%= @p.name %>"  Details </h2>

	<%= form_for @p , url:{action: :update} do |f| %>
		<table class="table table-hover">
			<%= render partial:'form',locals:{f:f} %>

		</table>
		
	<% end %>

 

