

	<h2 style="background-color:white">Appoinment Details</h2> 
	
<table class="table">
		<tr>
			<td>Date :  </td>
			<td> <%= @appointment.a_date %></td>
		</tr>

		<tr>
			<td>Physician name   </td>
			<td> <%= @appointment.physician.name %></td>
		</tr>
		<tr>
			<td>Patient name </td>
			<td> <%= @appointment.patient.name %></td>
		</tr>
		
</table>
		<button allign='center' class="btn"><%= link_to "Back", appointments_path %></button> 
		

